/* CSS variables */

:root {
  --background-color: #f6f9fc;
  --bar-background-color: #f7f9fc;
  --card-background-color: #ffffff;
  --text-color: #121d2e;
  --border-color: #edf0f5;
  --input-color: #333;
  --input-background-color: #d8dce7;
  --preview-background-color: #7a7a7a;
  --button-background-color: #2253e6;
  --link-color: #121d2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #171e36;
    --bar-background-color: #192038;
    --card-background-color: #1c243b;
    --text-color: #ffffff;
    --border-color: #16172a;
    --input-color: #ececec;
    --input-background-color: #0d1c2f;
    --preview-background-color: transparent;
    --button-background-color: #2253e6;
    --link-color: #ffffff;
  }
}

/* some default styles to make the view more native like */

.titlebar {
  -webkit-user-select: none;
  user-select: none;
}

html {
  box-sizing: border-box;
  background: var(--background-color);
  /* Prevent the page to be scrollable */
  overflow: hidden;
  /* Force the default cursor, even on text */
  cursor: default;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

[v-cloak] {
  display: none
}

/* Webview styles */

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: center;
  height: 70px;
  padding: 20px;
  position: relative;
  background: var(--bar-background-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 3;
}

.header-title {
  color: var(--text-color);
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  opacity: 0.8;
}

.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: -7.5px;
  -webkit-appearance: none !important;
  appearance: none !important;
  border: 0;
  outline: 0;
  opacity: 0.75;
  background-color: transparent;
  transition: opacity linear 0.1s;
}

.settings-button:active,
.settings-button:focus {
  opacity: 0.5;
}

.settings-button svg {
  width: 25px;
  height: 25px;
  stroke: var(--text-color);
}

.settings-menu {
  position: absolute;
  top: calc(100% - 10px);
  right: 15px;
  padding: 10px 0;
  min-width: 180px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--card-background-color);
  box-shadow: -5px 8px 15px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.settings-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.settings-menu ul {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.settings-menu ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 14px;
  padding: 10px 20px;
}

.settings-menu ul li:hover {
  color: white;
  background-color: var(--button-background-color);
}

.settings-menu ul li:hover .dot {
  color: white;
}

.settings-menu ul li .dot {
  display: block;
  color: var(--button-background-color);
  font-size: 18px;
  line-height: 14px;
  margin-left: 20px;
}

.body {
  flex: 1;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 15px 20px;
  background: var(--bar-background-color);
  border-top: 1px solid var(--border-color);
  z-index: 2;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.button {
  display: block;
  color: white;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.2px;
  padding: 15px;
  border-radius: 5px;
  background: var(--button-background-color);
  -webkit-appearance: none !important;
  appearance: none !important;
  border: 0;
  outline: 0;
  transition: background linear 0.1s;
}

.button:active:not(:disabled),
.button:focus:not(:disabled) {
  background: #1840b8;
}

.button:disabled {
  opacity: 0.5;
}

.button.in-footer {
  padding: 0 15px;
  height: 100%;
  margin-left: 15px;
}

.button.simple {
  color: var(--link-color);
  background-color: transparent !important;
  transition: opacity linear 0.1s;
}

.button.simple:active,
.button.simple:focus {
  opacity: 0.5;
}

.select-container {
  position: relative;
  padding: 0 20px;
}

.select-container svg {
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 30px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  stroke: var(--text-color);
  z-index: 2;
}

.select {
  color: var(--text-color);
  letter-spacing: 0.25px;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 45px 0 15px;
  background: var(--input-background-color);
  -webkit-appearance: none !important;
  appearance: none !important;
  border: 0;
  outline: 0;
  z-index: 1;
}

.small-heading {
  color: var(--text-color);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding: 20px 20px 15px 20px;
  margin: 0;
  opacity: 0.6;
}

.colors-list {
  padding: 20px 20px 5px 20px;
}

.color-theme {
  border-radius: 5px;
  background: var(--card-background-color);
  border: 1px solid var(--border-color);
  margin-bottom: 15px;
}

.color-theme-header {
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

.color-theme-header-title {
  color: var(--text-color);
  letter-spacing: 0.25px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  opacity: 0.9;
}

.color-theme-body {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.color-theme-body:hover .color-theme-preview:after {
  opacity: 1;
}

.color-theme-body:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  margin-left: -1px;
  background: var(--border-color);
  z-index: 2;
}

.color-theme-body-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 15px;
}

.color-theme-preview {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.color-theme-preview:after {
  position: absolute;
  top: -4px;
  left: -6px;
  font-size: 14px;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transition: opacity linear 0.2s;
}

.color-theme-preview.light:after {
  content: '☀️';
}

.color-theme-preview.dark:after {
  content: '🌒';
}

.color-theme-preview.empty {
  background-color: var(--preview-background-color) !important;
}

.color-theme-preview.empty:before {
  content: '❔';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.color-theme-fieldset {
  flex: 1;
  width: calc(100% -55px);
  padding: 0 0 0 15px;
  position: relative;
}

.color-theme-fieldset:hover .color-theme-picker span {
  opacity: 1;
}

.color-theme-input {
  position: relative;
  width: 100%;
  min-width: 0;
  color: var(--input-color);
  font-family: monospace;
  font-size: 16px;
  padding: 10px 40px 10px 15px;
  border-radius: 5px;
  background: var(--input-background-color);
  -webkit-appearance: none !important;
  appearance: none !important;
  border: 0;
  outline: 0;
}

.color-theme-picker {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  z-index: 2;
}

.color-theme-picker span {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: opacity linear 0.1s;
}

.color-theme-picker input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none !important;
  appearance: none !important;
  border: 0;
  outline: 0;
  opacity: 0;
  z-index: 2;
}

.color-theme-input:focus {
  box-shadow: 0 0 3px 1px rgb(34, 83, 230);;
}

.donate {
  display: flex;
  align-items: center;
  color: var(--link-color);
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: opacity linear 0.1s;
}

.donate:active,
.donate:focus {
  opacity: 0.5;
}

.donate span {
  display: inline-block;
  font-size: 13px;
  margin-left: 5px;
}

.error-message {
  color: var(--text-color);
  text-align: center;
  padding: 100px 50px;
  margin: 0 auto;
}

.error-message-title {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 25px;
}

.error-message-description {
  line-height: 1.5;
  font-size: 14px;
  max-width: 90%;
  margin: 0 auto 20px;
  opacity: 0.8;
}

.error-message-image {
  display: block;
  width: 324px;
  height: auto;
  margin: 0 auto;
}
