<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sketch Dark Mode Palette</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body data-app-region="drag">
    <div id="app" class="wrapper">
      <div class="header">
        <h1 class="header-title">Sketch Dark Mode Palette</h1>
        <button
          class="settings-button"
          v-on:click="toggleSettingsMenu()"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
            <path
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
            <circle cx="12" cy="12" r="3" />
          </svg>
        </button>
        <div
          v-cloak
          v-if="showSettingsMenu"
          class="settings-menu"
        >
          <div
            class="settings-menu-overlay"
            v-on:click="toggleSettingsMenu()"
          >
          </div>
          <ul>
            <li v-on:click="selectScheme('document')">
              <span>Document colors</span>
              <span v-if="isDocumentSchemeSelected" class="dot">•</span>
            </li>
            <li v-on:click="selectScheme('library')">
              <span>Library colors</span>
              <span v-if="!isDocumentSchemeSelected" class="dot">•</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="body">
        <div
          v-cloak
          v-if="!isDocumentSchemeSelected && libraries.length > 0"
        >
          <h4 class="small-heading">Libraries</h4>
          <div class="select-container">
            <select v-model="selectedLibraryId" class="select">
              <option value="">Select a library</option>
              <option
                v-for="library in libraries"
                :value="library.id"
                :disabled="!library.enabled || !library.valid"
              >
                {{ library.name }}
              </option>
            </select>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
              <polyline points="6 9 12 15 18 9" />
            </svg>
          </div>
        </div>
        <div v-cloak v-if="showErrorMessage" class="error-message">
          <h2 class="error-message-title">
            ⚠️ Ooops!
          </h2>
          <p class="error-message-description">
            {{ errorMessage }}
          </p>
        </div>
        <div
          v-cloak
          v-if="showColorList"
          class="colors-list"
        >
          <div
            v-for="(paletteColor, index) in paletteColors"
            :key="index"
            class="color-theme"
          >
            <div class="color-theme-header">
              <h4 class="color-theme-header-title">
                {{ paletteColor.name }}
              </h4>
            </div>
            <div class="color-theme-body">
              <div class="color-theme-body-section">
                <div
                  class="color-theme-preview light"
                  :style="{
                    backgroundColor: paletteColor.lightColor
                  }"
                >
                </div>
                <div class="color-theme-fieldset">
                  <input
                    type="text"
                    disabled
                    maxlength="7"
                    class="color-theme-input"
                    placeholder="Hex color"
                    :value="paletteColor.lightColor"
                  />
                </div>
              </div>
              <div class="color-theme-body-section">
                <div
                  :class="[
                    'color-theme-preview dark',
                    { empty: !paletteColor.isValidColor }
                  ]"
                  :style="{
                    backgroundColor: paletteColor.darkColor
                  }"
                >
                </div>
                <div class="color-theme-fieldset">
                  <input
                    type="text"
                    maxlength="7"
                    class="color-theme-input"
                    placeholder="Hex color"
                    spellcheck="false"
                    :value="paletteColor.darkColor"
                    v-on:keyup="updatePaletteDarkColor(paletteColor.name, $event)"
                    v-on:change="updatePaletteDarkColor(paletteColor.name, $event)"
                    v-on:paste="updatePaletteDarkColor(paletteColor.name, $event)"
                  />
                  <div class="color-theme-picker">
                    <span>🎨</span>
                    <input
                      type="color"
                      value=""
                      v-on:input="updatePaletteDarkColor(paletteColor.name, $event)"
                      v-on:change="updatePaletteDarkColor(paletteColor.name, $event)"
                      v-on:click="setInputRandomColorValue($event)"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <a
          href="https://www.buymeacoffee.com/eddiesigner"
          target="_blank"
          class="donate"
        >
          Donate <span>🧡</span>
        </a>
        <div class="buttons-container">
          <button
            class="button simple in-footer"
            v-on:click="closeWindow()"
          >
            Cancel
          </button>
          <button
            :disabled="paletteColorsHaveErrors"
            class="button in-footer"
            v-on:click="savePalette()"
          >
              Save Palette
          </button>
        </div>
      </div>
    </div>
    <!-- notice the "../resources_" here. It's because webview.js will be compiled in a different folder with the prefix. -->
    <script src="../resources_webview.js"></script>
  </body>
</html>
